body {
    font-family: sans-serif;
    background: white;
}

#container {
    display: flex;
}

#board {
    padding: 10px 10px;
    transform: rotateZ(0deg);
}

circle {
    cursor: pointer;
}

.rotate-arrow {
    position: absolute;
    cursor: pointer;
}

.x25 {
    left: 60px;
}

.x75 {
    right: 60px;
}

.x100 {
    right: 0;
}

.y25 {
    top: 60px;
}

.y75 {
    bottom: 60px;
}

.y100 {
    bottom: 0;
}

svg {
    transform: rotateZ(0deg);
}
